<!-- centrar un div en la mitad de la pantalla -->
<div class="m-0 vh-100 row justify-content-center align-items-center">
    <div class="col-auto p-5 text-center">
        <!-- tarjeta -->
        <div class="card text-center">
            <!-- titulo tarjeta -->
            <div class="card-header">
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">Pokemon</span>
                    <input type="text" class="form-control" placeholder="Pikachu">
                    <button class="btn btn-primary">Buscar</button>
                </div>
            </div>
            <!-- cuerpo tarjeta -->
            <div class="card-body">
                <h5 class="card-title">Pikachu</h5>

                <!-- Imagen redimencionada al 50% -->
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png" class="img-fluid mb-2 w-50 border">

                <!-- Lista caracteristicas -->
                <div class="container p-3">
                    <div class="input-group">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon1">Button</button>
                        <span class="form-control"></span>
                    </div>
                    <div class="input-group">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon1">Button</button>
                        <span class="form-control"></span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>